<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Models Test</title>
	
</head>
<body>
	<h1>Welcome</h1>
	<p>{#{book.0.title}#}</p>
	
	{%for b in book%}
	<p>{{b.title}}</p>
	<p>{{b.publication_date}}</p>
	{%endfor%}

	{%for name in a%}
	<p>{{name.name}}</p>
	{%endfor%}

	<p>{{b.first_name}}</p>
	<p>{{c}}</p>

	<hr>

	<p>{{book1}}:{{book1.publisher}}</p>

	{%for l in publisher1.books.all%}
	<p>{{publisher1}}:{{l}}</p>
	{%endfor%}

	{%for l in book1.author.all%}
	<p>{{book1}}:{{l}}</p>
	{%endfor%}

	{%for l in book_list%}
	<p>{{author1}}:{{l}}</p>
	{%endfor%}

	<hr>
	<p>{{count}}</p>
</body>
</html>

